---
layout: pages
title: Que estoy usando
description: Una breve lista de que uso a diario para mi trabajo y projectos personales
canonical: https://matiashernandez.dev/uses
---

# Que estoy usando

Puedes revisar [uses.tech](https://uses.tech) para ver una lista completa de paginas `/uses`


## Editor + Terminal

- VSCode + VIM es mi editor de uso diario.
- Uso [Night Owl](https://marketplace.visualstudio.com/items?itemName=sdras.night-owl&WT.mc_id=twitter-social-sdras) como tema para todo.
- Utilizo [Dank Mono](https://philpl.gumroad.com/l/dank-mono) como fuente para mi editor..
- Estoy usando [Fig](https://fig.io/) como mi terminal primaria.

## Aplicaciones

- Estoy usando [Brave](https://brave.com/) como mi browser principal.
- Uso [Obsidian](https://obsidian.md/) para tomar notas y generar ideas.
- También intento utilizar una libreta para llevar un diario tipo "Bullet Journal".
- [Spotify](https://open.spotify.com) para consumir música.
- Y [Brain.fm](https://brain.fm) para buscar foco.
- Para editar mis podcast utilizo la asombrosa [Descript](https://www.descript.com?lmref=sMc1WQ) y [Logic Pro X](https://www.apple.com/la/logic-pro/)
- Y para crear screencast para [egghead](https://egghead.io) utilizo [ScreenFlow](https://www.telestream.net/screenflow/overview.htm?&gclid=CjwKCAjwrvv3BRAJEiwAhwOdMxl1coeNfnDzMkMsVUCpLQkJ4gcrDfQotzy3rCeBF8zNK2x8dHBwGxoCEpIQAvD_BwE)

## Desk Setup

<small>Links de afiliados</small>

- Estoy feliz con M1 Macbook Pro 13'' 16GB RAM.
- Mi Mouse es un [MX Master 2S](https://amzn.to/3P3l7i4).
- Mi teclado actual es un [Keychron K3](https://amzn.to/3NOZbpJ).
- Como micrófono utilzo un [Shure BETA 87A microphone](https://amzn.to/3nIxswr).
- El boom arm del micrófono es el [Blue Compass](https://amzn.to/3nMXTAS)
- Una [Focusrite Scarlett Solo 3rd gen](https://amzn.to/3ajRKsP) como interface de audio.
- Como audifonos utilizo [JBL Tune 600BTNC](https://amzn.to/3uvrORM) con cancelación de ruido.
- Y la webcam es una [Logitech c9222](https://amzn.to/3nIxUuD)
- El monitor es un [Xiaomi Mi 34'' curved](https://www.mi.com/global/monitor34/)
- Como ilumninación tengo una [Xiaomi Bar Light](https://amzn.to/3urYvzG)
- Un standing desk de manofactura local y un desk shelf a medida.
- [Xiaomi Mi Box](https://amzn.to/3ImfUzy) para el no tan smart tv
- Para conectar el M1 a todo lo que necesito uso el [dock Kensington SD5700T](https://amzn.to/3yNWn7T)
- La camara es una [Sony ZV-E10](https://www.amazon.com/Sony-Alpha-ZV-E10-intercambiable-videoblogueros/dp/B09BBLH4SG?keywords=sony+zv-e10&qid=1674502302&sprefix=Sony+,aps,201&sr=8-1-spons&smid=AXCB29L39I26U&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFEV0dYNkY0VDZXWVcmZW5jcnlwdGVkSWQ9QTA0NjE1NDNTT1BXREhRMjJHQ08mZW5jcnlwdGVkQWRJZD1BMDE4MzY2N0w2WFJNNVZaVkZJViZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU%3D)
- Para montar la camara [Elgato Multi Mount System](https://www.amazon.com/-/es/Elgato-Master-Mount-49-2-videoconferencias/dp/B07X49967V?keywords=elgato+multi+mount&qid=1674502326&sr=8-3) +  [Elgato Flex Arm L](https://www.amazon.com/-/es/articulado-secciones-micr%C3%B3fonos-transmisi%C3%B3n-videoconferencias/dp/B07X49967Y/ref=pd_bxgy_img_sccl_1/131-4213833-1705113?content-id=amzn1.sym.7f0cf323-50c6-49e3-b3f9-63546bb79c92&th=1) 
- Iluminación 2 [Elgato Key Light Air ](https://www.amazon.com/-/es/Elgato-Key-Light-Air-videoconferencias/dp/B082QHRZFW?keywords=elgato+key+light+air&qid=1674502344&sprefix=elgato+key+li,aps,204&sr=8-3)
- Uso [Carpio](https://deltahub.io/) de Deltahub para mi muñeca.

## Books
- [Badass by Kathy Sierra](https://amzn.to/3uyisF3)
- [Atomic Habits](https://amzn.to/3yra6jC)
- [Una Breve Historia de Casi Todo](https://amzn.to/3yllT33)
- [The subtle art of not giving a F*](https://amzn.to/3bZWtR7)
- [Sapiens. From animals to Gods](https://amzn.to/3ImHZ9N)
- [How to Win Friends & Influence People](https://amzn.to/3bXBYnS)
- [How to Toake Smart Notes](https://amzn.to/3Ik81uk)
- [The Phoenix Project](https://amzn.to/3NQEnOo)
- [The Psychology of Money](https://amzn.to/3ak79to)

## Otros dispositivos y utilidades

- [Kindle Paperwhite](https://amzn.to/3NJq3Yc) an indispensable device!!!
- Un mug [Yeti](https://amzn.to/3IonUQp) para tener un café siempre caliente.
- Café!!! [Aeropress](https://amzn.to/3PccKk0) para la velocidad y flexibilidad y un [V60](https://amzn.to/3RjUd7q) para consistencia
