---
layout: pages
title: Que estoy usando
description: Una breve lista de que uso a diario para mi trabajo y projectos personales
---

# Que estoy usando

Puedes revisar [uses.tech](https://uses.tech) para ver una lista completa de paginas `/uses`


## Editor + Terminal

- VSCode + VIM es mi editor de uso diario.
- Uso [Night Owl](https://marketplace.visualstudio.com/items?itemName=sdras.night-owl&WT.mc_id=twitter-social-sdras) como tema para todo.
- Utilizo [Dank Mono](https://philpl.gumroad.com/l/dank-mono) como fuente para mi editor..
- Estoy usando [Fig](https://fig.io/) como mi terminal primaria.

## Aplicaciones

- Estoy usando [Brave](https://brave.com/) como mi browser principal.
- Uso [Obsidian](https://obsidian.md/) para tomar notas y generar ideas.
- También intento utilizar una libreta para llevar un diario tipo "Bullet Journal"2.
- [Spotify](https://open.spotify.com) para consumir música.
- Y [Brain.fm](https://brain.fm) para buscar foco.
- Para editar mis podcast utilizo la asombrosa [Descript](https://www.descript.com?lmref=sMc1WQ) y [Logic Pro X](https://www.apple.com/la/logic-pro/)
- Y para crear screencast para [egghead](https://egghead.io) utilizo [ScreenFlow](https://www.telestream.net/screenflow/overview.htm?&gclid=CjwKCAjwrvv3BRAJEiwAhwOdMxl1coeNfnDzMkMsVUCpLQkJ4gcrDfQotzy3rCeBF8zNK2x8dHBwGxoCEpIQAvD_BwE)

## Desk Setup

- Estoy feliz con M1 Macbook Pro 13''.
- Mi Mouse es un [MX Master 2S](https://amzn.to/31I1Ahv).
- Mi teclado actual es un [Keychron K3](https://www.keychron.com/collections/keyboard/products/keychron-k3-wireless-mechanical-keyboard).
- Como micrófono utilzo un [Shure BETA 87A microphone](https://amzn.to/2AtEi3H).
- Y [Focusrite Scarlett Solo 3rd gen](https://amzn.to/2VEWuyP) como interface de audio.
- Como audifonos utilizo (JBL Tune 600BTNC)[https://amzn.to/2ZDD4v9] con cancelación de ruido.
- Y la webcam es una [Logitech c9222](https://www.logitech.com/en-us/products/webcams/c922-pro-stream-webcam.960-001087.html)

## Books
- [Badass by Kathy Sierra](https://amzn.to/2VItO7Y)
- [Atomic Habits](https://amzn.to/31Iinkp)
- [Una Breve Historia de Casi Todo](https://amzn.to/31HCjnC)
- [The subtle art of not giving a F*](https://www.amazon.com/dp/0062457713/ref=cm_sw_r_tw_dp_PN9VV9Y9AW5PPJ4129B8)
- [Sapiens. From animals to Gods](https://www.amazon.com/-/es/Sapiens-animales-dioses-audiolibro/dp/B0741F5XBN/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3KR947ZFG897T&dchild=1&keywords=sapiens+from+animals+to+gods&qid=1629468860&sprefix=Sapiens+from+%2Cstripbooks-intl-ship%2C316&sr=8-1)
- [How to Win Friends & Influence People](https://www.amazon.com/-/es/dp/B0006IU7JK/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1PJULG3ZPFOUW&dchild=1&keywords=how+to+win+friends+and+influence+people&qid=1629468894&s=audible&sprefix=How+to+%2Caudible%2C283&sr=1-1)
- [How to Toake Smart Notes](https://www.amazon.com/-/es/S%C3%B6nke-Ahrens-ebook/dp/B06WVYW33Y/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=14X1ZB7WS0RA8&dchild=1&keywords=how+to+take+smart+notes+s%C3%B6nke+ahrens&qid=1629468934&sprefix=how+to+take+smart+notes+%2Caps%2C327&sr=8-1)

## Otros dispositivos
- [Kindle Paperwhite](https://www.amazon.com/-/es/PQ94WIF/dp/B07741S7Y8/ref=sr_1_2?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=13CLQ7POTRPO8&dchild=1&keywords=kindle+paperwhite&qid=1629371404&s=amazon-devices&sprefix=Kindle+pap%2Camazon-devices%2C290&sr=1-2) an indispensable device!!!
- Un mug [Yeti](https://www.yeti.com/en_US/drinkware/mugs/10oz/21071500576.html#pos=3) para tener un café siempre caliente.
- Uso [Carpio](https://deltahub.io/) de Deltahub para mi muñeca.
