---
layout: pages
title: What I'm using
description: A brief list of what I use every day for my job and side projects
---

# What I'm using

Make sure to check out [uses.tech](https://uses.tech) for a list of everyone's /uses pages!

## Editor + Terminal

- VSCode + VIM is my current editor for everything.
- I use [Night Owl](https://marketplace.visualstudio.com/items?itemName=sdras.night-owl&WT.mc_id=twitter-social-sdras) theme
- I'm currently using [Dank Mono](https://philpl.gumroad.com/l/dank-mono) as font for my editor.
- I use [Fig](https://fig.io/) as my primary terminal.

## Desktop Apps

- I'm currently using [Brave](https://brave.com/) as my main browser.
- I use [Obsidia](https://obsidian.md/) for my note taking needs.
- Also use a notebook for planning similar to a bullet journal.
- I use [Spotify](https://open.spotify.com) to listem music all the time and code.
- Also use [Brain.fm](https://brain.fm) when I want to focus on some coding.
- To editing my podcasts I use [Descript](https://www.descript.com?lmref=sMc1WQ) and [Logic Pro X](https://www.apple.com/la/logic-pro/)
- And for screnecasting, video editing and [egghead](https://egghead.io) work I use [ScreenFlow](https://www.telestream.net/screenflow/overview.htm?&gclid=CjwKCAjwrvv3BRAJEiwAhwOdMxl1coeNfnDzMkMsVUCpLQkJ4gcrDfQotzy3rCeBF8zNK2x8dHBwGxoCEpIQAvD_BwE)

## Desk Setup

- I'm using a M1 Macbook Pro 13''
- My Mouse is a [MX Master 2S](https://amzn.to/31I1Ahv).
- My Keyboard is a wireless [Keychron K3](https://www.keychron.com/collections/keyboard/products/keychron-k3-wireless-mechanical-keyboard).
- My main mic is a [Shure BETA 87A microphone](https://amzn.to/2AtEi3H)
- And as audio interface I have a [Focusrite Scarlett Solo 3rd gen](https://amzn.to/2VEWuyP)
- My headphones are the (JBL Tune 600BTNC)[https://amzn.to/2ZDD4v9] With active noise cancellation.
- My webcam is a [Logitech c9222](https://www.logitech.com/en-us/products/webcams/c922-pro-stream-webcam.960-001087.html)

## Books
- [Badass by Kathy Sierra](https://amzn.to/2VItO7Y)
- [Atomic Habits](https://amzn.to/31Iinkp)
- [Una Breve Historia de Casi Todo](https://amzn.to/31HCjnC)

## Other Devices
- [Kindle Paperwhite](https://www.amazon.com/-/es/PQ94WIF/dp/B07741S7Y8/ref=sr_1_2?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=13CLQ7POTRPO8&dchild=1&keywords=kindle+paperwhite&qid=1629371404&s=amazon-devices&sprefix=Kindle+pap%2Camazon-devices%2C290&sr=1-2) an indispensable device!!!
- A [Yeti](https://www.yeti.com/en_US/drinkware/mugs/10oz/21071500576.html#pos=3) Mug for my warm coffee.
- A wrist rest by Deltahub call [Carpio](https://deltahub.io/)
